{% extends 'layout.html' %}

{% block title %} 点赞页面 {% endblock %}

{% block head %}
<!-- <link rel="stylesheet" type="text/css" href="../css/index.css"> -->
<!--webpack_style_placeholder-->
{% endblock %}

{% block content %}

	<h1>标题</h1>
	<x-praise></x-praise>
	
	<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.bootcss.com/x-tag/1.5.11/x-tag-core.js"></script>
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<!--webpack_script_placeholder-->
{% endblock %}